@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800');


:root{
  --primary: #57b6a4;
  --primary-light: #95CFC4;
  --secondary: #F6B07E;
  --contrast: #EC8876;
  --red: #d90429;
  --darkred: #ba181b;
  --burgandy: #9B2226;
  --burgandy2: #660708;
  --hotpink:#e91e63;
  --pink: #da627d;
  --bs-danger: #e56b6f;
  --rose: #F55767;
  --blush: #f3a4b5;
  --medpink: #c1666b;
  --peach: #dd9787;
  --orange: #f85e00;
  --burntorange: #bc3908;
  --copper: #BC6C25;
  --yellow2: #e59500;
  --neonyellow: #FDC800;
  --yellow: #f5cb5c;
  --cream: #eae0d5;
  --beige: #d6cfcb;
  --brown: #5e503f;
  --greenbeige: #b7b7a4;
  --mint: #d8e2dc;
  --lightolive: #a5a58d;
  --green2: #a7c957;
  --green: #adc178;
  --neongreen: #a5be00;
  --grass: #6a994e;
  --darkgreen: #386641;
  --olive: #606C38;
  --darkgreen: #283618;
  --darkteal: #335c67;
  --darkteal2: #284b63;
  --blue: #299EF3;
  --blue2: #3EB8F4;
  --turquoise:#00bcd4;
  --paleblue: #669bbc;
  --babyblue: #98c1d9;
  --darkblue: #1F3A63;
  --darkblue2: #172b4d;
  --navy: #3d5a80;
  --cornblue: #a1b5d8;
  --bluegrey: #738290;
  --brightblue: #5e72e4;
  --greylilac: #8d99ae;
  --indigo: #4a4e69;
  --indigo2: #3d405b;
  --darkindigo: #2b2d42;
  --fuschia: #5f0f40;
  --barney: #44224B;
  --purple: #6a4c93;
  --brightpurple: #8965e0;
  --purple2: #6d597a;
  --prune: #6d6875;
  --grey2: #B0A7B2;
  --grey3: #8898aa;
  --palegrey: #C3BCC4;
  --grey: #737373;
  --lightgrey: #d9d9d9;
  --light: #F9FAFD;
  --light2: #ced4da;
  --lighter: #e9ecef;
  --darkgrey: #333533;
  --dark: #1e2d2f;
  --dark2: #26272b;
  --dark3: #212529;
  --basicfont: 'Grandstander', cursive;
  --retrofont: 'Pacifico', cursive;
  --lg-font: 'Kaisei Tokumin', serif;
  --sm-font: 'Poppins', sans-serif;
}

html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}