:root {
    --primary: #57b6a4;
    --primary-light: #95CFC4;
    --secondary: #F6B07E;
    --contrast: #EC8876;
}

.center{
    text-align: center;
}

.headerbtn{
    background-color: transparent;
    color:rgb(155, 155, 155);
    border:none;
}

.headerbtn:hover{
    color:lightgray;
}

.navoffset{
    margin-top: 2%;
}

/* Login/Registration Form */

.formheading {
    text-align: center;
    padding: 20px 5px 0 5px;
    border-radius: 2px;
}

.formbuttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: large;
}

.selectedbutton {
    background: var(--primary);
    width: 50%;
    padding: 10px;
    border: none;
    color: white;
}

.unselectedbutton {
    width: 50%;
    padding: 10px;
    border: var(--primary) solid 2px;
    background-color: transparent;
    color: var(--primary);
}

.unselectedbutton:hover {
    background: var(--primary-light);
    border: var(--primary-light) solid 2px;
    color: white;
}

.loginbtn {
    background: var(--primary);
    padding: 5px 10px;
    border: var(--primary) solid 2px;
    color: white;
}

.resetbtn {
    border: var(--primary) solid 2px;
    padding: 5px 10px;
    background-color: transparent;
    color: var(--primary);
}

.loginbtn:hover,
.resetbtn:hover {
    background-color: var(--primary-light);
    border: var(--primary-light) solid 2px;
    color: white;
}

.error {
    color: red;
    font-size: 12px;
}

/* Cart */
.cartdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover{
    max-width:80px;
}

.checkoutbtn{
    position:absolute;
    bottom: 25px;
    right: 25px;
}

.removebtn{
    width: fit-content;
    border:none;
    background-color: transparent;
    color:gray;
    font-size: small;
}
.removebtn:hover{
    color:var(--secondary);
}

.cartlist{
    width:80%;
    margin:auto;
}

.cartlist th, td{
    text-align: center;
    border-bottom:lightgray solid 1px;
    vertical-align: middle;
}

.deletebtn{
    background-color: transparent;
    border:none;
}