:root {
    --primary: #57b6a4;
    --primary-light: #95CFC4;
    --secondary: #F6B07E;
    --contrast: #EC8876;
}

.center{
    text-align: center;
}

.headerbtn{
    background-color: transparent;
    color:rgb(155, 155, 155);
    border:none;
}

.headerbtn:hover{
    color:lightgray;
}

.navoffset{
    margin-top: 2%;
}

/* Login/Registration Form */

.formheading {
    text-align: center;
    padding: 20px 5px 0 5px;
    border-radius: 2px;
}

.formbuttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: large;
}

.selectedbutton {
    background: var(--primary);
    width: 50%;
    padding: 10px;
    border: none;
    color: white;
}

.unselectedbutton {
    width: 50%;
    padding: 10px;
    border: var(--primary) solid 2px;
    background-color: transparent;
    color: var(--primary);
}

.unselectedbutton:hover {
    background: var(--primary-light);
    border: var(--primary-light) solid 2px;
    color: white;
}

.loginbtn {
    background: var(--primary);
    padding: 5px 10px;
    border: var(--primary) solid 2px;
    color: white;
}

.resetbtn {
    border: var(--primary) solid 2px;
    padding: 5px 10px;
    background-color: transparent;
    color: var(--primary);
}

.loginbtn:hover,
.resetbtn:hover {
    background-color: var(--primary-light);
    border: var(--primary-light) solid 2px;
    color: white;
}

.error {
    color: red;
    font-size: 12px;
}

/* Cart */
.cartdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover{
    max-width:80px;
}

@media (max-width:420px){
    .cover{
        max-width: 50px;
    }
    #cartlist{
        width:100%;
    }
}

.checkoutbtn{
    float:right;
    margin: 10px;
}

.removebtn{
    width: fit-content;
    border:none;
    background-color: transparent;
    color:gray;
    font-size: small;
}
.removebtn:hover{
    color:var(--secondary);
}

#cartlist{
    width:80%;
    margin:auto;
}

#cartlist th, td{
    text-align: center;
    border-bottom:lightgray solid 1px;
    vertical-align: middle;
}

.deletebtn{
    background-color: transparent;
    border:none;
}


.account-page {
    text-align: center;
    padding : 15px;
    background-color: #95CFC4;
    border : solid black;
    color: darkslateblue;
}

.updateAccount {
    text-align: center;
    width: 40%;
    margin-left: 5px;
    margin-top: 5px;
    background: #57b6a4;
    color: darkblue;
}

/* .editbtn {
    margin-left: 180px;
} */
.submitBtn {
background-color: darkblue; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submitBtn:hover {
    background-color: goldenrod;
  }

/* Product Page */
/* overall product container */
.gallery{
    margin:auto 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
}
/* each book's card element */
.bookcard{
    width: 20%;
    min-width: 300px;
    margin: 20px;
    height:fit-content;
    text-align: center;
}

.bookcard img{
    width: 100%;
    padding: 20px;
    margin: auto;
    border-bottom: lightgrey solid 1px;
}

.cartbtn {
    background: var(--contrast);
    padding: 8px;
    border: var(--contrast) solid 2px;
    color: white;
}

.cartbtn:hover {
    background-color: var(--secondary);
    border: var(--secondary) solid 2px;
    color: white;
}

.tooltip-inner {
    background-color: rgb(97, 188, 97);
}

.tooltip .tooltip-arrow::before {
    border-right-color: rgb(97, 188, 97);
}

.descriptionbtn{
    color:lightgray;
    font-weight: lighter;
}

.sortfilter{
    display: flex;
    margin-right: 5%;
    justify-content: right;
}

.sortfilterbtn{
    background-color: transparent;
    border:none;
    color:var(--primary);
}

.sortfilterbtn:hover{
    color:var(--contrast);
}

.iconbtn{
    background-color: transparent;
    border:none;
}

#search{
    width:70%;
}

#searchtype{
    width:fit-content;
    background-color: var(--contrast);
    color:white;
}

#searchvalue{
    width: 70%;
}

#searchbtn{
    background-color: var(--contrast);
    color:white;
    border: var(--contrast) solid 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding:5px 20px;
}

@media (max-width:420px) {
    #search {
        width: 100%;
    }
    
    #searchtype {
        width: 20%;
    }
    
    #searchvalue {
        width: 50%;
    }
    
    #searchbtn {
        padding: 5px 10px;
    }
}

@media (max-width:1100px) {
    #search {
        width: 90%;
    }

    #searchtype {
        width: fit-content;
    }

    #searchvalue {
        width: 50%;
    }

    #searchbtn {
        padding: 5px 10px;
    }
}

