@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');


:root{
  --primary: #57b6a4;
  --primary-light: #95CFC4;
  --secondary: #F6B07E;
  --contrast: #EC8876;
  --red: #ea1407;
  --darkred: #ba181b;
  --burgandy: #9B2226;
  --burgandy2: #660708;
  --hotpink:#e91e63;
  --pink: #da627d;
  --bs-danger: #e56b6f;
  --rose: #F55767;
  --blush: #f3a4b5;
  --medpink: #c1666b;
  --peach: #dd9787;
  --orange: #f85e00;
  --burntorange: #bc3908;
  --copper: #BC6C25;
  --yellow2: #e59500;
  --neonyellow: #FDC800;
  --yellow: #f5cb5c;
  --cream: #eae0d5;
  --beige: #d6cfcb;
  --brown: #5e503f;
  --greenbeige: #76735d;
  --mint: #d8e2dc;
  --lightolive: #a5a58d;
  --green2: #a7c957;
  --green: #adc178;
  --neongreen: #a5be00;
  --grass: #6a994e;
  --darkgreen: #386641;
  --olive: #606C38;
  --darkgreen: #283618;
  --darkteal: #335c67;
  --darkteal2: #284b63;
  --blue: #299EF3;
  --blue2: #3EB8F4;
  --turquoise:#00bcd4;
  --paleblue: #669bbc;
  --babyblue: #98c1d9;
  --darkblue: #1F3A63;
  --darkblue2: #172b4d;
  --navy: #3d5a80;
  --blue2: #525f7f;
  --cornblue: #a1b5d8;
  --bluegrey: #738290;
  --brightblue: #5e72e4;
  --greylilac: #8d99ae;
  --indigo: #4a4e69;
  --indigo2: #3d405b;
  --darkindigo: #2b2d42;
  --fuschia: #5f0f40;
  --barney: #44224B;
  --purple: #6a4c93;
  --brightpurple: #8965e0;
  --purple2: #6d597a;
  --prune: #6d6875;
  --grey2: #adb5bd;
  --grey3: #8898aa;
  --medgrey: #888;
  --grey: #737373;
  --lightgrey: #d9d9d9;
  --light: #F9FAFD;
  --light2: #ced4da;
  --lighter: #e9ecef;
  --darkgrey: #333533;
  --dark: #24252a;
  --dark2: #26272b;
  --dark3: #212529;
  --basicfont: 'Grandstander', cursive;
  --retrofont: 'Pacifico', cursive;
  --melodyfont: 'Hi Melody', cursive;
  --indiefont: 'Indie Flower', cursive;
  --markerfont: 'Permanent Marker', cursive;
  --gloriafont: 'Glorio Hollelujah', cursive;
  --patrickfont: 'Patrick Hand', cursive;
  --ranchofont: 'Rancho', cursive;
}


button{
  border-radius: 5px;
}
button:focus{
  outline: 1px dotted;
  outline: 5px autp -webkit-focus-ring-color;
}
.btn{
  font-size: 1rem;
  line-height: 1.5;
  display: inline-flexbox;
  padding: .625rem 1.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: .375rem;
}
.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

/* FORMS */
.form-control-alternative {
  transition: box-shadow .15s ease;
  border: 0;
  box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
}

.form-control-alternative:focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}