@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');


:root{
  --red: #d90429;
  --darkred: #ba181b;
  --burgandy: #9B2226;
  --burgandy2: #660708;
  --hotpink:#e91e63;
  --pink: #da627d;
  --bs-danger: #e56b6f;
  --blush: #f3a4b5;
  --medpink: #c1666b;
  --peach: #dd9787;
  --orange: #f85e00;
  --burntorange: #bc3908;
  --copper: #BC6C25;
  --yellow2: #e59500;
  --neonyellow: #FDC800;
  --yellow: #f5cb5c;
  --cream: #eae0d5;
  --beige: #d6cfcb;
  --brown: #5e503f;
  --greenbeige: #b7b7a4;
  --mint: #d8e2dc;
  --lightolive: #a5a58d;
  --green2: #a7c957;
  --green: #adc178;
  --neongreen: #a5be00;
  --grass: #6a994e;
  --darkgreen: #386641;
  --olive: #606C38;
  --darkgreen: #283618;
  --teal: #335c67;
  --darkblue: #284b63;
  --turquoise:#00bcd4;
  --blue: #669bbc;
  --skyblue: #98c1d9;
  --navy: #3d5a80;
  --cornblue: #a1b5d8;
  --bluegrey: #738290;
  --lilac: #8d99ae;
  --indigo: #4a4e69;
  --indigo2: #3d405b;
  --darkpurple: #2b2d42;
  --fuschia: #5f0f40;
  --purple: #6a4c93;
  --purple2: #6d597a;
  --prune: #6d6875;
  --greyilac: #9a8c98;
  --grey: #C3BCC4;
  --medgrey: #737373;
  --lightgrey: #d9d9d9;
  --darkgrey: #333533;
  --dark: #1e2d2f;
  --dark2: #26272b;
  --basicfont: 'Grandstander', cursive;
  --retrofont: 'Pacifico', cursive;
  --anniefont: 'Annie Use Your Telescope', cursive;
  --handwrittingfont: 'Just Another Hand', cursive;
}

.featured-banner {
  background-color: var(--copper);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0 20px;
}
